/* utilities */

.hidden {
    display: none;
}

/* changing default styles*/

ul {
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
    box-sizing: border-box;
}

/*Start game form */

#beginner-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 1000; /* Set a higher z-index value */
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-form {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    top: 15vh;
    border-radius: 2rem;
}

#player-form input {
    padding: 0.5rem;
    margin: 0.5rem;
}

label {
    display: inline-block;
    vertical-align: middle;
    margin: 0.25rem;
}

/*      NAVBAR     */

.secondContainer {
    box-sizing: border-box;
}

.page-header {
    color: black;
    padding: 0 0.5vw;
    height: 80px;
    max-height: 80px;
    border-top: solid 0.125rem;
    background-color: #6C1C1C;
}

.flex-wrap {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrap ul{
    list-style-type: none;
    margin: 1rem 1vw;
    box-sizing: border-box;
}

.right-buttons li{
    list-style-type: none;
    display: inline;
}

/*                 BUTTONS        */

button, .button {
    font-size: 1.1rem;
    background-color: white;
    border-radius: 1rem;
    padding: 0.7rem 0.7rem;
}

#passport:disabled {
    background-color: #9c9c9c;
    color: #454545;
    font-size: 1.1rem;
}
.lock-icon {
    margin-left: 5px;
}
#passport:not(:disabled) {
    background-color: gold;
}
.restart {
    padding: 0.7rem 1vw;
}

.restart img {
    display: block;
}

#go_green {
    display: inline-block;
}

#go_green:hover {
    background-color: lightgreen;
}

#go_dirty {
    display: inline-block;
    margin-left: 0.5rem;
}

#go_dirty:hover {
    background-color: lightcoral;
}

button:hover, .button:hover {
    background-color: #C0FBFF;
}

/*          STATS         */

#player {
    position: absolute;
    background-color: rgba(24, 0, 0, 0.8);
    top: 150px;
    left: 80px;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 999;
    padding: 0.3rem;
    border-radius: 1rem;
    min-width: 10vw;
}
#player p {
    font-size: 0.8rem;
    margin: 0.5rem;
}

/*    MAP    */

.leaflet-touch .leaflet-control-zoom {
    display: none;
  }

#map {
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: #180000;
    box-sizing: border-box;
}

/*       HELP MENU        */

.help_menu {
    border-radius: 2rem;
    max-width: 80%;
}

/*      EVENTS    */

dialog[closed] {
    position: fixed;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: block;
}

dialog[open] {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    text-align: center;
}
#youWin, #youLose {
    max-width: 80vw;
    padding: 1rem;
    border-radius: 3rem;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.8);
}

dialog span {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: darkred;
}

dialog h3 {
    text-align: center;

}
/* Media query */

@media screen and (min-width: 767px) {
    #player-form {
        top: auto;
    }
    #player {
        top: 200px;
        left: 150px;
    }
    #player p {
        font-size: 1rem;
        margin: 0.8rem;
    }
    .flex-wrap {
        justify-content: space-between;
    }
    dialog[open] {
        max-width: 40vw;
    }
    #youWin, #youLose {
        max-width: 40vw;
    }
}

@media screen and (max-width: 330px) {
    .right-buttons #story {
        display: none;
    }
}
