
/* utilities */

.hide {
    display: none;
}

/* homepage core css */

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 33, 71, 1) 0%, rgb(139, 0, 0) 65%, rgb(108, 28, 28) 100%);
}

.container h2 a {
    text-align: center;
    background-color: rgba(29, 0, 0, 0.53);
    border-radius: 2rem;
    padding: 2rem;
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: #eeeeee;
    text-transform: uppercase;
    margin: auto;
    transition: color 0.5s ease;
}

.container h2 a:hover {
    color: #8b0000;
}

.game-logo {
    width: 20vw;
    height: auto;
    margin: 1rem;
    display: block;
}

h2 a img {
    width: 10rem;
    height: auto;
    vertical-align: middle;
    margin: 1rem;
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

audio {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.train {
    display: none;
    position: fixed;
    width: 90vw;
    max-width: 100vw;
    bottom: 15vh;
    animation: teleport 4s linear infinite;
}
.train img {
    width: 20vw;
    min-width: 150px;
}

@keyframes teleport {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100% - 60px));
    }
}
