:root {

}

* {
    box-sizing: border-box;
}

/* utilities */

.hidden {
    display: none;
}

/* homepage core css */
.leaflet-proxy{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 19em;
}

h2 a img {
    width: 10rem;
    height: auto;
    vertical-align: middle;
    margin: 1rem;
}

#youWin {
    object-fit: cover;
    border-radius: 1.5rem;
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

/* Main html css  */

.secondContainer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    min-width: 25rem;
}

.page-header, .page-footer {
    color: black;
    padding: 0.5rem;
    border-top: solid 0.125rem;
    background-color: #6C1C1C;
}

.title {
    color: black;
}

.flex-wrap {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-wrap .left-button {
    order: -1;
}

.flex-wrap .right-button{
    margin-left: auto;
}

.flex-wrap li{
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
}

button {
    display: flex;
}

button, .button {
    font-size: 1.3rem;
    background-color: white;
    border-radius: 2rem;
    padding: 0.7rem 1.4rem;
}

#passport:disabled {
    background-color: #9c9c9c;
    color: #454545;
    font-size: 1.1rem;
}
.lock-icon {
    margin-left: 5px;
}
#passport:not(:disabled) {
    background-color: gold;
}


#go_green {
    display: inline-block;
    align-self: flex-start;
}

#go_green:hover {
    background-color: lightgreen;
}

#go_dirty {
    display: inline-block;
    align-self: flex-end;
    margin-left: 0.5rem;
}

#go_dirty:hover {
    background-color: lightcoral;
}



ul {
    margin: 0;
    padding: 0;
}

button:hover, .button:hover {
    background-color: #C0FBFF;
}

#beginner-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 1000; /* Set a higher z-index value */
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    position: absolute;
    background-color: rgba(24, 0, 0, 0.8);
    top: 11rem;
    left: 10rem;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 999;
    padding: 0.5rem;
    border-radius: 1rem;
    min-width: 13rem;
}

#player-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;

}

#player-form input {
    padding: 0.5rem;
    margin: 0.5rem;
}

label {
    display: inline-block;
    vertical-align: middle;
    margin: 0.25rem;
}




/*       MAIN VIEW         */

#map {
    height: 100vh;
    width: 100%;
    background-color: #180000;
}


/*#event {
    padding: 0;
    margin: 0;
    background-color: #C0FBFF;
}*/

#game_menu {
    width: 39%;
    padding: 2rem;
    box-sizing: border-box;
}

.event-box img {
    padding: 0;
    margin: 0;
    width: 33%;
    height: auto;
}

.help_menu {
    border-radius: 2rem;
    max-width: 80%;
}




/*      dialog     */

dialog[closed] {
    position: fixed;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: block;
}

dialog[open] {
    opacity: 1;
}

dialog::backdrop {
    background: rgb(0 0 0 / 0.8);
}

dialog span {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: darkred;
}

/* Media query */

@media screen and (max-width: 45em) {

    #game_menu {
        width: 100%;
    }

    #map{
        width: 100%;
        height: 100vh;
    }
     #player {
        position: absolute;
        top: 15rem;
        left: 10rem;
    }
}
