:root {

}



/* utilities */

.hidden {
    display: none;
}

/* homepage core css */

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 33, 71, 1) 0%, rgba(192, 57, 43, 1) 65%, rgba(170, 0, 0, 1) 100%);
}

.container h2 a {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.game-logo {
    width: 10vw;
    height: auto;
    margin: 1rem;
    display: block;
}

h2 a img {
    width: 10rem;
    height: auto;
    vertical-align: middle;
    margin: 1rem;
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

audio {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.train {
    position: absolute;
    width: auto;
    height: 50%;
    bottom:0;
    left: 0;
    animation: teleport 4s linear infinite;
}

@keyframes teleport {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100% - 60px));
    }
}

/* Main html css  */

.secondContainer {
    width: 100%;
    height: auto;
    border: solid 0.125rem;
    box-sizing: border-box;
}

.page-header, .page-footer {
    color: black;
    padding: 0.5rem;
    border-top: solid 0.125rem;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF 30%, #BFD4F2 30%, #BFD4F2 70%, #EAA6A1 70%, #EAA6A1);
}

.title {
    color: black;
}

.flex-wrap {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap .left-button {
    order: -1;
}

.flex-wrap .right-button {
    margin-left: auto;
}

.flex-wrap li {
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
}

button {
    display: flex;
    font-size: 1rem;
}


#map {
    height: 540px;
    border: solid 0.125rem;
}

#event {
    padding: 0;
    margin: 0;
}

#train img {
    width: 33%;
    height: auto;
}

.event-box img {
    padding: 0;
    margin: 0;
    width: 33%;
    height: auto;
}

/* Media query*/


